header {
    display: flex;
    background-color: #1f2937;
    font-family: roboto;
    color: #fff;
    padding: 2rem;
}

.dark {
    background-color:#1f2937;
    font-family: roboto;
    color: #fff;
    

}
.abutton {
    border: none;
}

.header1 {
    align-items: flex-end;
}

.header2 {
    align-items: flex-start;
}

button {
    background-color: #3882F6;
    color: #fff;
    border: #fff solid;
    border-radius: 0.1rem;
}
