header {
    display: flex;
    background-color: #1f2937;
    font-family: roboto;
    color: #fff;
    padding: 2rem;
    border: 0.3rem solid #1f2937;
    border-top: 0;
    border-bottom: 0;
}

.dark {
    background-color:#1f2937;
    font-family: roboto;
    color: #fff; 
    border: 0.5rem solid #1f2937;
    border-top: 0;
    padding: 1rem
}

.awesome {
    font-size: 48px;
    font-weight: 900;
}

.hero2 {
    font-size: 18px;
    color: #e5e7eb;
}

.abutton {
    border: none;
    border-radius: 12px;
    padding: 0.5rem;
    font-weight: 900;
}

.header1 {
    align-items: flex-end;
}

.header2 {
    align-items: flex-start;
}

button {
    background-color: #3882F6;
    color: #fff;
    border: #fff solid;
    border-radius: 0.1rem;
}
