* {
    margin: auto;
}

header {
    display:flex;
    background-color: #1f2937;
    font-family: roboto;
    color: #fff;
    padding: 2rem;
    border: 0.3rem solid #1f2937;
    border-top: 0;
    border-bottom: 0;
}

.header1 {
    width: 150px;
}

.header2 {
    justify-self: flex-start;
    font-size: 24px;
    font-weight:900;
    font-color: #F9FAF8;
}

.dark {
    display: flex;
    flex-wrap: wrap;
    background-color:#1f2937;
    font-family: roboto;
    color: #fff; 
    border: 0.5rem solid #1f2937;
    border-top: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}

.half1 {
    justify-self: flex-start;
    max-width: 500px;
    padding-left: 230px;
}

.half2 {
    max-width: 500px;
    justify-self: flex-start;
    padding-right: 230px;
}

#house {
    display: flex;
    width: 300px;
}

.random {
    display: flex;
    justify-content:center;
    font-size:36px;
    color: #1F2937;
    font-weight: 900;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

#secimg {
    width: 150px;
    border: 5px solid #3882F6;
    border-radius: 12px;
}

.prettypic {
    display: flex;
    width: 1000px;
    padding-bottom: 5rem;
}

.awesome {
    font-size: 48px;
    font-weight: 900;
    margin: 12px; 
}

.hero2 {
    font-size: 18px;
    color: #e5e7eb;
    padding-left: 14px;
}

.abutton {
    border: none;
    border-radius: 12px;
    padding: 0.5rem;
    margin: 1rem;
    font-weight: 900;
    width: 120px;
}

button {
    background-color: #3882F6;
    color: #fff;
    border: #fff solid;
    border-radius: 0.1rem;
}

figcaption {
    width:150px;
    text-align: center;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color:#e5e7eb;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
}

#author {
    display: flex;
    align-self:flex-end;
    font-weight: bold;
    background-color:#e5e7eb;
    font-size: 36px;
}

.qtext {
    display: flex;
    width: 1000px;
    background-color: #e5e7eb;
}

.plutosec {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    width: 1000px;
    margin-top:3rem;
    margin-bottom:3rem;
    padding: 3rem;
    border-radius: 12px;
}

.interior {
    background-color:#3882F6;
    width: 1000px;
    color:#fff;

}

.plutext {
    display: flex;
    font-size: 30px;
    flex-direction:column;
    color: #fff;
}

.plutosec {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plutext2 {
    display:flex;
    flex-direction:column;
    align-self: flex-start;
    color:#fff;
    font-size: 15px;
    
}

.type {
    display: flex;
    flex-direction: column;
   
}

.flybutton {
    padding: 0.5rem;
    font-size: 15px;
    border-radius: 2px;
    align-self: flex-end;
}

footer {
    display: flex;
    align-items: center;
    padding: 3rem;
    background-color: #1F2937;
    color: #fff;
}